/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
html[b-iuczpb1lxj], body[b-iuczpb1lxj] {
  height: 100%;
  margin: 0;
  padding: 0;
}
body[b-iuczpb1lxj] {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main[b-iuczpb1lxj] {
  flex: 1 0 auto;
}
body[b-iuczpb1lxj], main[b-iuczpb1lxj] {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
a.navbar-brand[b-iuczpb1lxj] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-iuczpb1lxj] {
  color: #0077cc;
}

.btn-primary[b-iuczpb1lxj] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-iuczpb1lxj], .nav-pills .show > .nav-link[b-iuczpb1lxj] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-iuczpb1lxj] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-iuczpb1lxj] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-iuczpb1lxj] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-iuczpb1lxj] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-iuczpb1lxj] {
  margin-top: auto !important; 
  background-color: #212529;
  color: #ffffff;
  width: 100%;
  text-align: center;
  padding: 2rem 1rem;
  border-top: 1px solid #444;
}
.footer p[b-iuczpb1lxj] {
  margin: 0.2rem 0;
  font-size: 0.95rem;
}
